<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebTools</title>
  <link rel="stylesheet" href="css\style.css">  
</head>

<body>
  <div class="container">
    <form class="search">
      <input type="url" name="website" class="inputdata" required placeholder="Enter the URL to check">
      <button type="submit" class="submitbtn">Get Health</button>
    </form>

    <div class="data"></div>
  </div>
</body>

<script src="js\getinfo.js"></script>
</html>